.list-container {
	margin-top: 1.5rem;
}

.list-heading {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.list {
	list-style: none;
	text-align: left;
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.no-margin-text {
	margin: 0;
}
